body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #d2b4de;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: pink;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

h1 {
    color: #333;
}

.buttons {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #9b59b6;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

#respuesta {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}